# Django Settings
SECRET_KEY=your-very-secret-key-here-change-in-production
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.uz

# Database
DB_NAME=library_db
DB_USER=library_user
DB_PASSWORD=strongpassword123
DB_HOST=db
DB_PORT=5432

# Django Superuser (for initial setup)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

# Docker Hub
DOCKERHUB_USERNAME=kozimbek
